@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.invert-80:hover {
  filter: invert(0.8) !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer components {
  .animate-infinite-scroll-awards {
    animation: scroll 85s linear infinite;
  }

  .animate-infinite-scroll-testimonials {
    animation: scroll 100s linear infinite;
  }

  .pause:hover {
    animation-play-state: paused;
  }
}
